<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
<servlet>
    <servlet-name>ServletGradle</servlet-name>
    <servlet-class>com.devops.ServletGradle</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ServletGradle</servlet-name>
    <url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>